@use "../../styles/colors.scss";

.activity-list-item {
    display: flex;
    flex-direction: row;
    background-color: colors.$background_paper;
    padding: 20px;
    border-radius: 15px;
    width: 940px;

    .activity-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 40px;

        .text {
            margin-bottom: 10px;
            line-height: 1.219rem;

            .name {
                font-weight: 900;
            }

            .link {
                color: colors.$secondary_main;
                text-decoration-color: colors.$secondary_main;
            }
        }

        .elapsed {
            margin: 0;
            font-size: 0.875rem;
            line-height: 1.5rem;
            color: colors.$text_secondary;
        }
    }
}
