@use "../../styles/colors";

.card {
  background-color: colors.$background_paper !important;
  &.live {
    background-color: rgba(colors.$secondary_main, 0.15) !important;
  }
}

.title {
  font-size: 1rem !important;
  font-weight: 900 !important;
}
.likes {
  color: colors.$secondary_main !important;
  background-color: rgba(colors.$secondary_main, 0.18) !important;
  border-color: colors.$secondary_main !important;
  border-width: 2px !important;
  font-size: 0.875rem !important;
  svg {
    color: colors.$secondary_main !important;
  }
}
.relative {
  position: relative;
  padding: 0 15px;
  height: 286px;
}

.media {
  border-radius: 15px;
  height: 100%;
}
.price {
  color: colors.$secondary_main !important;
  font-size: 0.875rem !important;
  font-weight: 700 !important;
}
.grid-flex {
  display: flex;
}


.badge {
  position: absolute !important;
  top: 0.5rem;
  left: 1.5rem;
  color: colors.$background_paper !important;
  background-color: colors.$secondary_main !important;
  width: 75px;
  height: 30px;
  padding: 5px;
  border-radius: 7px;
  align-items: center !important;

  svg {
    width: 16px;
    height: 16px;
  }

  span {
    font-weight: 700;
    font-size: 0.875rem;
    position: absolute;
    display: block;
    top: 58%;
    left: -50%;
  }
}

.countdown {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  background-color: colors.$secondary_main !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  color: colors.$background_paper !important;
  font-weight: 700;
  padding: 0.2rem 0;
}
