@use "../../styles/colors.scss";

.product-info-status {
  .status {
    top: 0.5rem;
    left: 1.5rem;
    color: colors.$background_paper !important;
    background-color: colors.$secondary_main !important;
    width: 75px;
    height: 30px;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    align-items: center !important;

    svg {
      margin-left: 0;
      width: 16px;
      height: 16px;
      color: colors.$background_paper !important;
    }

    span {
      font-weight: 700;
      font-size: 0.875rem;
      padding-left: 8px;
      padding-right: 0;
      line-height: 100%;
    }
  }
}
