@use "../../styles/colors";

.select {
  align-self: center !important;
  svg {
    color: colors.$text_primary;
  }
}

.title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.657rem;
  margin-bottom: 2.875rem;
}
